// Colors.
$blue: #348dfc;
$green: #10bb07;
$darkgray: #7b7b7b;
$gray: #bababa;
$lightgray: #e7e7e7;
$red: #FF0000;
$white: #FFF;

// Application colors.
$colors: (
  ui-transparent: transparent,
  ui-light: white,
  ui-dark: black,
  primary: $blue,
  darkgray: $darkgray,
  gray: $gray,
  lightgray: $lightgray,
  red: $red,
  white: $white,
);

// Fonts.
$roboto: 'Roboto', sans-serif;

// Button Styling.
@mixin button($bgColor: none, $color: $white, $fsize: 0.75rem, $opacity: 1) {
  cursor: pointer;
  background-color: $bgColor;
  color: $color;
  border: 0;
  border-radius: 0.25rem;
  line-height: 1;
  font-family: $roboto;
  font-size: $fsize;
  opacity: $opacity;
}