// App module.
.app {
  display: flex;
  flex-direction: column;

  form {
    padding: 1rem 3rem 1rem 1rem;
    text-align: right;

    input {
      height: 30px;
      width: 450px;
      border-radius: 6px;
      border: 1px solid $lightgray;
      padding: 0.50rem;
      font-family: $roboto;
      font-weight: 300;
      font-size: 1.50rem;
      color: $darkgray;
      padding-left: 1rem;
    }

    ::placeholder {
      font-family: $roboto;
      font-weight: 300;
      font-size: 1.25rem;
      color: $gray;
    }
  }

}
