.summary {
  color: $darkgray;
  font-family: $roboto;
  font-weight: 300;
  padding: 1.5rem 1.5rem 1.5rem 4.75rem;

  .complete-all-button {
    @include button(none, $blue);
    margin-left: 0.75rem;
    font-weight: 700;
  }
}