// Todo module.
.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
  margin-left: 4rem;
  border-bottom: 1px solid $lightgray;
  font-family: $roboto;
  font-weight: 300;
  color: $darkgray;
  font-size: 1.5rem;

  &:hover {
    .delete-button {
      opacity: 1;
    }
  }

  &--status-complete {
    :first-child {
      text-decoration: line-through;
      color: $lightgray;
    }
  }

  &--filtered {
    display: none;
  }

  :nth-child(-n + 2) {
    cursor: pointer;
    margin-right: 0.75rem;
  }

  :last-child {
    margin-left: auto;
  }

  .delete-button {
    @include button(none, $gray, 1rem, 0);
    background: none;
    &:hover {
      color: $red;
    }
  }

  .archive-button {
    @include button($green);
    margin-left: 1rem;
    min-height: 1.5rem;
  }

  .unarchive-button {
    @include button($gray);
    margin-left: 1rem;
    min-height: 1.5rem;
  }
}
